<div class="container">
  <h2>Add Pin</h2>
  <form [formGroup]="pinForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="title">Title*</label>
      <input id="title" formControlName="title" type="text" placeholder="Enter title">
      <div *ngIf="pinForm.get('title')?.invalid && pinForm.get('title')?.touched" class="error">
        Title is required.
      </div>
    </div>

    <div class="form-group">
      <label for="image">Select Image*</label>
      <div class="drag-drop-zone" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)"
        (drop)="onDrop($event)" (click)="triggerFileInput()" [class.dragging]="dragging">
        <p *ngIf="!selectedImageBase64">Choose & Drag and Drop file here</p>
        <img *ngIf="selectedImageBase64" [src]="selectedImageBase64" alt="Preview" style="width: 100px; height: 100px;">
      </div>
      <input id="image" type="file" (change)="onImageChange($event)" accept="image/*" #fileInput hidden>

      <div *ngIf="pinForm.get('image')?.invalid && pinForm.get('image')?.touched" class="error">
        Image is required.
      </div>
    </div>

    <div class="form-group">
      <label for="collaborators">Select Collaborators*</label>
      <ngx-select 
        [items]="collaborators"
        formControlName="collaborators"
        [multiple]="true"
        bindLabel="text"      
        placeholder="Select Collaborators">
      </ngx-select>
    
      <div *ngIf="pinForm.get('collaborators')?.invalid && pinForm.get('collaborators')?.touched" class="error">
        At least one collaborator is required.
      </div>
    </div>

    <div class="form-group">
      <label>Privacy*</label>
      <div class="radio-group">
        <input type="radio" value="private" formControlName="privacy"> Private
        <input type="radio" value="public" formControlName="privacy"> Public
      </div>
      <div *ngIf="pinForm.get('privacy')?.invalid && pinForm.get('privacy')?.touched" class="error">
        Privacy option is required.
      </div>
    </div>

    <div class="form-group button-group">
      <button type="submit" [disabled]="pinForm.invalid">Create Pin</button>
    </div>
  </form>
</div>