.container {
  max-width: 600px;
  margin: 60px auto 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

h2 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.form-field {
  width: 70%;
}

.form-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  margin-bottom: 10px;
}

label {
  display: block;
  width: 150px;
  text-align: right;
  white-space: nowrap;
}

input,
select,
.drag-drop-zone {
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 5px;
}

::ng-deep .ngx-select_multiple[_ngcontent-khs-c47] {
  height: auto;
  padding: 8px 8px 0;
}

.radio-group {
  display: flex;
  gap: 20px;
}

button {
  padding: 10px 15px;
  font-size: 1rem;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.button-group {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

ngx-select {
  width: 100%;
  margin-bottom: 5px;
}

.error {
  color: red;
  font-size: 0.8rem;
  margin-top: 0;
}

.drag-drop-zone {
  width: 100%;
  padding: 10px;
  border: 1px solid #cac7c7;
  text-align: center;
  color: #cccccc;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 4px;
}

.drag-drop-zone.dragging {
  background-color: #e0e0e0;
  border-color: #888888;
}