<div class="container">
    <div class="d-flex justify-content-end mb-1">
      <div class="d-flex flex-column">
        <button class="btn btn-secondary mb-2 w-100" routerLink="/add-customer">+ Add Customer</button>
        <button class="btn btn-secondary w-100" routerLink="/add-pin">+ Add Pin</button>
      </div>
    </div>
    <h4>List of pins</h4>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Title</th>
          <th>Image</th>
          <th>Collaborators</th>
          <th>Privacy</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pin of pins">
          <td>{{ pin.title }}</td>
          <td><img [src]="pin.image" alt="Pin Image" width="50px" height="50px"></td>
          <td [innerHTML]="pin.collaborators.join('<br>')">{{ pin.collaborators }}</td>
          <td>{{ pin.privacy }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  